<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1>Fruit</h1>
		<ul>
		<% fruits.forEach(function(fruit){ %>
		<li><h3><%= fruit %></h3></li>
		<img src="images/<%=fruit%>.jpg" height="100">

		<% }); %>
		</ul>

		<ul>
		<% vegetables.forEach(function(vegetable){ %>
		<li><%= vegetable %></li>
		<% }); %>
		</ul>
		<h2> Foo = <%= foo%></h2>
	</div>
</body>
</html>